<app-basic-page title="Datenschutzerklärung">
  <app-section title="1. Identität und die Kontaktdaten des Verantwortlichen">
    <p class="mb-4">Der Verantwortliche im Sinne des DSG ist:</p>
    <address>
      Mathis Dedial<br />
      Albisstrasse 124<br />
      8038 Zürich<br />
      Schweiz<br />
      Tel.: {{ config.contactPhone }}<br />
      E-Mail: {{ config.contactEmail }}<br />
      Website: www.argo-heli.ch
    </address>
  </app-section>

  <app-section title="2. Bereitstellung der Website (Logfiles)">
    <app-subsection title="2.1 Beschreibung und Umfang der Datenbearbeitung">
      <p class="mb-4">
        Wenn Sie auf unsere Website zugreifen, d.h., selbst wenn Sie sich nicht
        registrieren oder anderweitig Informationen übermitteln, werden
        automatisch Informationen allgemeiner Natur erfasst. Diese Informationen
        (Server-Logfiles) beinhalten etwa die Art des Webbrowsers, das
        verwendete Betriebssystem, den Domainnamen Ihres
        Internet-Service-Providers, Ihre IP-Adresse, Referrer-URL, Datum und
        Uhrzeit des Zugriffs und ähnliches.
      </p>
      <p class="mb-4">
        Sie werden insbesondere zu folgenden Zwecken bearbeitet:
      </p>
      <ol class="mb-4 ml-4 list-inside list-decimal">
        <li
          >Sicherstellung eines problemlosen Verbindungsaufbaus der Website,
          sowie
        </li>
        <li>Sicherstellung einer reibungslosen Nutzung unserer Website.</li>
      </ol>
      <p class="mb-4">
        Die Daten werden ebenfalls in den Logfiles unseres Systems gespeichert.
        Eine Speicherung dieser Daten zusammen mit anderen Personendaten des
        Nutzers findet nicht statt. Wir verwenden Ihre Daten nicht, um
        Rückschlüsse auf Ihre Person zu ziehen. Allerdings behalten wir uns vor,
        die Server-Logfiles nachträglich zu überprüfen, sollten konkrete
        Anhaltspunkte auf eine rechtswidrige Nutzung hinweisen.
      </p>
    </app-subsection>

    <app-subsection title="Empfänger der Daten">
      <p class="mb-4">
        Wir setzen für Betrieb und Wartung unserer Webseite Dienstleister ein,
        die als unsere Auftragsbearbeiter tätig werden. Sämtliche Dienstleister
        sind vertraglich dazu verpflichtet, Ihre Daten vertraulich zu behandeln.
      </p>
    </app-subsection>

    <app-subsection title="Übermittlung ins Ausland">
      <p class="mb-4">
        Eine Bearbeitung findet auch ausserhalb der Schweiz, namentlich in den
        USA statt.
      </p>
      <p class="mb-4">
        Den USA wird ein gleichwertiges Datenschutzniveau attestiert. Somit
        dürfen Personendaten ohne weitere Schutzvorkehrungen dorthin übermittelt
        werden.
      </p>
    </app-subsection>
  </app-section>

  <app-section title="3. Buchungsanfragen">
    <app-subsection title="3.1 Beschreibung und Umfang der Datenbearbeitung">
      <p class="mb-4">
        Auf unserer Website ist ein Formular vorhanden, welches für
        elektronische Buchungsanfragen genutzt werden kann. Nehmen Sie diese
        Möglichkeit wahr, so werden die in der Eingabemaske eingegeben
        Personendaten an uns übermittelt und gespeichert. Die Verarbeitung Ihrer
        Personendaten dient uns allein zur Bearbeitung Ihrer Anfrage.
      </p>
      <p class="mb-4">
        Zum Zeitpunkt der Absendung der Nachricht werden zudem folgende Daten
        übermittelt und gespeichert:
      </p>
      <ol class="mb-4 ml-4 list-inside list-decimal">
        <li>Datum und Uhrzeit der Anfrage</li>
      </ol>
      <p class="mb-4">
        Alternativ ist eine Kontaktaufnahme über die bereitgestellten
        E-Mail-Adressen möglich. In diesem Fall werden die mit der E-Mail
        übermittelten Personendaten des Nutzers gespeichert. Hierzu zählen:
      </p>
      <ol class="mb-4 ml-4 list-inside list-decimal">
        <li>Datum und Uhrzeit der Anfrage</li>
        <li>IP-Adresse</li>
      </ol>
      <p class="mb-4">
        sowie Informationen zu den an der E-Mail-Kommunikation beteiligten
        Servern. Zudem können Sie über die bereitgestellte Telefonnummer Kontakt
        zu uns aufnehmen. Hierbei erheben wir Protokolldaten, die Ihre
        Telefonnummer und die Dauer des Gesprächs beinhalten. Wir zeichnen
        Gespräche grundsätzlich nicht auf.
      </p>
    </app-subsection>

    <app-subsection title="3.2 Empfänger der Daten">
      <p class="mb-4">
        Unsere Website wird von Dienstleistern gewartet, die als unsere
        Auftragsbearbeiter tätig werden. Sofern Sie uns eine Anfrage bzgl. eines
        Angebots schicken, können von uns eingesetzte Dienstleister zu diesen
        Zwecken Daten erhalten, sofern diese die Daten zur Erfüllung ihrer
        jeweiligen Leistung benötigen (z.B. IT-Dienstleistungen, Call-Center).
        Sämtliche Dienstleister sind vertraglich dazu verpflichtet, Ihre Daten
        vertraulich zu behandeln.
      </p>
    </app-subsection>

    <app-subsection title="3.3 Übermittlung ins Ausland">
      <p class="mb-4">
        Eine Bearbeitung findet auch ausserhalb der Schweiz, namentlich in den
        USA statt.
      </p>
      <p class="mb-4">
        Den USA wird ein gleichwertiges Datenschutzniveau attestiert. Somit
        dürfen Personendaten ohne weitere Schutzvorkehrungen dorthin übermittelt
        werden.
      </p>
    </app-subsection>
  </app-section>

  <app-section title="4. Verwendung von Cookies">
    <p class="mb-4">Diese Website verwendet keine Cookies.</p>
  </app-section>

  <app-section title="5. Rechte der betroffenen Person">
    <p class="mb-4">
      Sie haben die folgenden Rechte in Bezug auf Personendaten, die Sie
      betreffen:
    </p>
    <ul class="mb-4 ml-4 list-inside list-disc">
      <li
        >das Recht, Auskunft darüber zu erhalten, welche Personendaten wir von
        Ihnen speichern und wie wir diese bearbeiten;
      </li>
      <li
        >das Recht auf Herausgabe einer Kopie Ihrer Personendaten in einem
        gängigen Format;
      </li>
      <li>das Recht auf Berichtigung Ihrer Personendaten;</li>
      <li>das Recht auf Löschung Ihrer Personendaten;</li>
      <li>das Recht, Bearbeitungen Ihrer Personendaten zu widersprechen.</li>
    </ul>
    <p class="mb-4">
      Beachten Sie bitte, dass für diese Rechte Ausnahmen gelten. Soweit
      rechtlich zulässig, können wir Ihre Anfrage zur Ausübung dieser Rechte
      ablehnen.
    </p>
    <p class="mb-4">
      Eine erteilte Einwilligung in die Verarbeitung personenbezogener Daten
      können Sie jederzeit uns gegenüber widerrufen. Bitte beachten Sie, dass
      der Widerruf erst für die Zukunft wirkt. Bearbeitungen, die vor dem
      Widerruf erfolgt sind, sind davon nicht betroffen.
    </p>
    <p class="mb-4">
      Für eine Auskunft über die von uns bearbeiteten Personendaten, senden Sie
      Ihr Auskunftsbegehren bitte an
      <a
        class="text-primary-700 underline"
        href="mailto:{{ config.contactEmail }}"
        >{{ config.contactEmail }}</a
      >.
    </p>
    <p class="mb-4">
      Sie haben ausserdem das Recht, beim Eidgenössischen Datenschutz- und
      Öffentlichkeitsbeauftragten (EDÖB) eine Beschwerde einzureichen.
    </p>
  </app-section>

  <p class="italic">
    Diese Datenschutzerklärung wurde mit Hilfe von
    <a
      class="text-primary-700 underline"
      href="https://www.activemind.ch"
      target="_blank"
      >www.activemind.ch</a
    >
    erstellt - den Experten für Datenschutz und Informationssicherheit.
  </p>
</app-basic-page>
