<app-basic-page [title]="'booking-success.title' | translate">
  <p class="text-[20px] font-medium leading-[30px] text-gray-600">
    {{ "booking-success.text1" | translate }}
    <a
      [href]="config.contactEmail | emailLink"
      class="text-primary-700 underline"
      >{{ config.contactEmail }}</a
    >
    {{ "booking-success.text2" | translate }}
    <a
      [href]="config.contactPhone | phoneLink"
      class="text-primary-700 underline"
      >{{ config.contactPhone }}</a
    >.
  </p>
</app-basic-page>
