<div class="bg-gray-50 min-h-[70vh]">
  <div class="bg-gray-50 mx-auto px-6 py-[64px] max-w-[1000px]">
    <h3 class="text-[32px] font-bold text-gray-500 mb-[32px]">
      Danke für Ihre Anfrage!
    </h3>
    <p class="text-[20px] leading-[30px] font-medium text-gray-600">
      Wir werden diese prüfen und uns innert zwei Arbeitstagen bei Ihnen melden.
      Bei allfälligen Fragen erreichen Sie uns per E-Mail unter
      <a
        [href]="config.contactEmail | emailLink"
        class="text-primary-700 underline"
        >{{ config.contactEmail }}</a
      >
      oder telefonisch unter
      <a
        [href]="config.contactPhone | phoneLink"
        class="text-primary-700 underline"
        >{{ config.contactPhone }}</a
      >.
    </p>
  </div>
</div>
