openapi: 3.1.0
info:
  title: Argo Heli API
  description: Backend API for submitting helicopter flight booking requests and purchasing vouchers from argo-heli.ch.
  version: 1.0.0

servers:
  - url: https://api.argo-heli.ch
    description: Production
  - url: https://api.develop.argo-heli.ch
    description: Development

paths:
  /voucher-orders:
    post:
      summary: Submit a voucher order
      operationId: submitVoucherOrder
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VoucherOrderRequest'
      responses:
        '200':
          description: Request processed. Check the `success` field — a false value indicates a business-level failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VoucherOrderResponse'
        '400':
          description: Malformed request body.
        '500':
          description: Internal server error.

  /checkout-sessions/{checkoutSessionId}/fulfill:
    post:
      summary: Fulfill a checkout session
      operationId: fulfillCheckoutSession
      parameters:
        - name: checkoutSessionId
          in: path
          required: true
          schema:
            type: string
          description: The Stripe checkout session ID (stripe_id).
      responses:
        '200':
          description: Fulfillment triggered (or session was already fulfilled).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FulfillCheckoutSessionResponse'
        '404':
          description: No checkout session found with the given ID.
        '500':
          description: Internal server error.

  /booking-requests:
    post:
      summary: Submit a flight booking request
      operationId: submitBookingRequest
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BookingRequest'
      responses:
        '200':
          description: Request processed. Check the `success` field — a false value indicates a business-level failure.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BookingResponse'
        '400':
          description: Malformed request body.
        '500':
          description: Internal server error.

components:
  schemas:
    BookingRequest:
      type: object
      required:
        - contactData
        - flightData
        - flight
        - termsAndConditions
      properties:
        contactData:
          $ref: '#/components/schemas/ContactData'
        flightData:
          $ref: '#/components/schemas/FlightData'
        flight:
          $ref: '#/components/schemas/FlightInfo'
        termsAndConditions:
          $ref: '#/components/schemas/TermsAndConditions'

    ContactData:
      type: object
      required:
        - firstName
        - lastName
        - street
        - city
        - email
        - phone
      properties:
        firstName:
          type: string
          example: Max
        lastName:
          type: string
          example: Muster
        street:
          type: string
          example: Musterstrasse 1
        city:
          type: string
          example: Zürich
        email:
          type: string
          format: email
          example: max.muster@example.com
        phone:
          type: string
          example: '+41791234567'

    FlightData:
      type: object
      required:
        - base
        - departureDate
        - departureTime
        - passengers
      properties:
        base:
          type: string
          description: Departure base / helipad identifier.
          example: Zürich-Heliport
        departureDate:
          type: string
          format: date
          description: Requested departure date (ISO 8601).
          example: '2026-07-15'
        departureTime:
          type: string
          description: Requested departure time (HH:MM, 24-hour).
          pattern: '^([01]\d|2[0-3]):[0-5]\d$'
          example: '10:30'
        passengers:
          type: integer
          minimum: 1
          description: Number of passengers (excluding pilot).
          example: 3

    FlightInfo:
      type: object
      required:
        - title
      properties:
        title:
          type: string
          description: Human-readable flight product title.
          example: Rundflug Zürich

    TermsAndConditions:
      type: object
      required:
        - acceptedTermsOfBookingRequest
        - acceptedPrivacyPolicy
      properties:
        acceptedTermsOfBookingRequest:
          type: boolean
          description: Customer has accepted the booking request terms.
        acceptedPrivacyPolicy:
          type: boolean
          description: Customer has accepted the privacy policy.

    BookingResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          description: Whether the booking request was accepted successfully.

    VoucherOrderRequest:
      type: object
      required:
        - flight
        - billingAddress
        - delivery
        - termsAndConditions
      properties:
        flight:
          $ref: '#/components/schemas/VoucherFlightInfo'
        billingAddress:
          $ref: '#/components/schemas/ContactData'
        delivery:
          $ref: '#/components/schemas/VoucherDelivery'
        termsAndConditions:
          $ref: '#/components/schemas/VoucherTermsAndConditions'

    VoucherFlightInfo:
      type: object
      required:
        - id
        - title
      properties:
        id:
          type: string
          description: Flight product identifier.
          example: rundflug-zuerich
        title:
          type: string
          description: Human-readable flight product title.
          example: Rundflug Zürich

    VoucherDelivery:
      type: object
      required:
        - deliveryMethod
      properties:
        deliveryMethod:
          type: string
          enum:
            - LETTER
            - DOWNLOAD
          description: How the voucher should be delivered to the recipient.
        deliveryEmail:
          type: string
          format: email
          description: Email address for digital delivery. Required when `deliveryMethod` is `DOWNLOAD`.
          example: empfaenger@example.com
        deliveryAddressEqualsBillingAddress:
          type: boolean
          description: When `deliveryMethod` is `LETTER`, indicates whether the delivery address matches the billing address.
        deliveryAddress:
          $ref: '#/components/schemas/ContactData'
          description: Postal delivery address. Required when `deliveryMethod` is `LETTER` and `deliveryAddressEqualsBillingAddress` is false.

    VoucherTermsAndConditions:
      type: object
      required:
        - acceptedTerms
        - acceptedPrivacyPolicy
      properties:
        acceptedTerms:
          type: boolean
          description: Customer has accepted the voucher terms.
        acceptedPrivacyPolicy:
          type: boolean
          description: Customer has accepted the privacy policy.

    FulfillCheckoutSessionResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          description: Always true when 200 is returned.

    VoucherOrderResponse:
      type: object
      required:
        - success
      properties:
        success:
          type: boolean
          description: Whether the voucher order was accepted successfully.
        checkoutUrl:
          type: string
          description: The URL to redirect the user to for payment.
