.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.loading-animation {
  max-width: 70%;
}

.message {
  font-family: "Instrument Sans", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: center;
  display: none; /* made visible by JS after setting remaining days */
}

.message .text {
  font-size: 24px;
}

.message .days {
  font-size: 48px;
}

.primary-700 {
  color: #1780b5;
}

.primary-900 {
  color: #05405d;
}
