@import "../../../../../vars.scss";

.container {
  height: 92px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 100px;

  .link {
    a {
      color: $gray-300;
      font-size: 20px;
      line-height: 28px;
      font-weight: 700;

      text-decoration: none;
    }

    a.link-active {
      color: $gray-600;
    }
  }
}
