<div
  class="bg-portrait relative flex h-[800px] flex-row bg-no-repeat p-16 xl:items-center xl:justify-end"
>
  <div
    class="relative z-10 flex flex-col gap-y-6 sm:max-w-[500px] xl:basis-1/3"
  >
    <h1 class="text-5xl font-bold text-secondary-500">Grüezi!</h1>
    <p
      class="text-md font-medium leading-7 text-gray-500 sm:text-lg xl:text-xl xl:leading-9"
    >
      Ich bin Mathis, Helikopterpilot aus Leidenschaft. Seit ich denken kann,
      bin ich begeistert von der Fliegerei. Nun möchte ich meine Passion für das
      Fliegen mit möglichst vielen Leuten teilen. Es würde mich freuen, Sie bald
      mit an Bord begrüssen zu dürfen!
    </p>
  </div>
</div>
