<header>
  <div class="border-b-2 border-gray-50 bg-white py-2">
    <app-lang-switcher />
  </div>
  <div
    class="flex flex-row justify-center border-b-[6px] border-solid border-primary-500 bg-white"
  >
    <div
      class="flex w-full max-w-[2000px] flex-col items-stretch justify-between sm:flex-row sm:px-[90px] sm:py-[45px]"
    >
      <app-logo
        class="flex shrink-0 items-center justify-center max-sm:my-8 lg:mr-16"
      />
      <app-nav class="shrink lg:grow" />
    </div>
  </div>
</header>
