<nav class="lg:flex flex-row gap-x-[128px] justify-end items-end">
  @for (route of topLevelRoutes; track route.path) {
    <a
      class="flex flex-col text-primary-300 text-[32px] font-bold group"
      routerLinkActive="!text-primary-700 is-active"
      [routerLinkActiveOptions]="{ exact: route.path === '' }"
      [routerLink]="route.path"
    >
      <div
        class="link-active-marker h-[3px] w-[36px] bg-primary-700 hidden group-[.is-active]:block"
      ></div>
      {{ route.title }}
    </a>
  }
</nav>
