@let flightSnapshot = flight();
<app-hero-static
  [title]="flightSnapshot.title"
  [duration]="flightSnapshot.duration"
  [imgSrc]="heroImgSrc()"
  [overrideTextColor]="flightSnapshot.textColor"
></app-hero-static>
<div class="flex flex-col items-center justify-center">
  <div class="mt-12 w-[80%] max-w-[500px] lg:mt-24" [innerHTML]="mapSvg()">
  </div>

  <div
    class="mt-12 max-w-[650px] hyphens-auto text-center text-[20px] font-medium leading-[40px] text-gray-400 max-sm:p-6 sm:w-3/4 lg:mt-24"
  >
    {{ flightSnapshot.synopsis[currentLang()] }}
  </div>

  <app-price-tag
    class="mt-12 lg:mt-24"
    [price]="flightSnapshot.cost"
  ></app-price-tag>

  <app-button
    class="mb-12 mt-4 lg:mb-24"
    [label]="'flights.book-button' | translate"
    [routerLink]="['/', currentLang(), 'booking']"
    [queryParams]="{ flight: flightSnapshot.id }"
  ></app-button>
</div>
