<div
  class="relative h-[700px] overflow-y-hidden bg-cover bg-center bg-no-repeat"
  [ngStyle]="{ 'background-image': 'url(' + imgSrc() + ')' }"
>
  <h1
    class="absolute top-[20%] w-full text-center font-bold mix-blend-plus-lighter"
    [ngStyle]="{
      color: this.textColor(),
      'font-size': 'calc(min(18vw, 128px))',
    }"
    >{{ title() }}</h1
  >
  @if (duration()) {
    <div
      class="absolute top-[50%] flex w-full flex-row items-center justify-center gap-[2px]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="size-6 stroke-2 pr-[8px] mix-blend-plus-lighter"
        [ngStyle]="{ stroke: textColor() }"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
        />
      </svg>
      <span
        class="text-2xl font-bold mix-blend-plus-lighter"
        [ngStyle]="{ color: textColor() }"
        >{{ duration() }}</span
      >
      <span
        class="ml-1 text-2xl mix-blend-plus-lighter"
        [ngStyle]="{ color: textColor() }"
      >
        min</span
      >
    </div>
  }
  @if (maxPassengers()) {
    <div
      class="absolute top-[55%] flex w-full flex-row items-center justify-center gap-[2px]"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 -960 960 960"
        class="size-6 stroke-2 pr-[8px] mix-blend-plus-lighter"
        [ngStyle]="{ fill: textColor() }"
      >
        <path
          d="M367-527q-47-47-47-113t47-113q47-47 113-47t113 47q47 47 47 113t-47 113q-47 47-113 47t-113-47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm296.5-343.5Q560-607 560-640t-23.5-56.5Q513-720 480-720t-56.5 23.5Q400-673 400-640t23.5 56.5Q447-560 480-560t56.5-23.5ZM480-640Zm0 400Z"
        />
      </svg>
      <span
        class="text-2xl font-bold mix-blend-plus-lighter"
        [ngStyle]="{ color: textColor() }"
        >{{ maxPassengers() }}</span
      >
      <span
        class="ml-1 text-2xl mix-blend-plus-lighter"
        [ngStyle]="{ color: textColor() }"
      >
        {{ "flights.persons" | translate }}</span
      >
    </div>
  }
  <svg class="absolute bottom-0" width="100%" viewBox="0 0 2000 100">
    <path d="M 0 100 Q 1000 0 2000 100 V 120 H 0 Z" style="fill: #fff" />
  </svg>
</div>
