<app-form-block
  [title]="'booking.flight-data.title' | translate"
  [infoText]="'booking.flight-data.info' | translate"
  [formGroup]="group()"
>
  <app-form-row>
    <app-form-select
      [label]="'booking.flight-data.base' | translate"
      formControlId="contact-data-base"
      [control]="base"
    >
      <option value="LSZU">{{
        "booking.flight-data.base-buttwil" | translate
      }}</option>
    </app-form-select>
    <app-form-group
      [label]="'booking.flight-data.passengers' | translate"
      formControlId="contact-data-passengers"
      [control]="passengers"
      type="number"
      min="1"
    ></app-form-group>
  </app-form-row>
  <app-form-row>
    <app-form-group
      [label]="'booking.flight-data.date' | translate"
      formControlId="contact-data-departure-date"
      [control]="departureDate"
      type="date"
    ></app-form-group>
    <app-form-group
      [label]="'booking.flight-data.departure-time' | translate"
      formControlId="contact-data-departure-time"
      [control]="departureTime"
      type="time"
    ></app-form-group>
  </app-form-row>
</app-form-block>
