<div class="flex-row items-stretch lg:flex">
  <!-- The top-level flex item for the left side of the component. -->
  <div
    class="flex flex-auto items-center justify-center bg-white p-[32px] lg:h-[660px] lg:w-1/3"
  >
    <!-- Container for both the map and the legends which scales with the map and provides a reference for the legends. -->
    <div class="relative">
      <div #mapContainer></div>
      @for (
        highlight of highlights().highlights;
        track highlight.title;
        let i = $index
      ) {
        <app-map-legend
          [label]="highlight.title"
          [left]="highlight.legendX"
          [top]="highlight.legendY"
          [active]="currentHighlightIdx() === i"
          (click)="currentHighlightIdx.set(i)"
        ></app-map-legend>
      }
    </div>
  </div>
  <div
    class="relative flex-[2_2_auto] overflow-hidden bg-cover bg-no-repeat max-lg:min-h-[50vh] lg:w-2/3"
  >
    <!-- The highlight can either contain an image or a video. If both are set, the image takes precedence. -->
    @if (this.currentHighlight().imgSrc) {
      <img
        class="absolute left-0 top-0 h-full w-full object-cover saturate-[30%]"
        [src]="this.currentHighlight().imgSrc"
      />
    } @else if (this.currentHighlight().videoSrc) {
      <video
        class="absolute left-0 top-0 h-full w-full object-cover saturate-[30%]"
        muted
        autoplay
        loop
        [src]="this.currentHighlight().videoSrc"
      ></video>
    }

    <div class="absolute left-0 top-0 h-full w-full bg-whiteVertical"></div>

    <div
      class="absolute bottom-0 right-0 hidden w-full px-16 py-8 backdrop-blur-md lg:block"
    >
      <h3 class="mb-4 text-2xl font-bold text-white">
        {{ currentHighlight().title }}
      </h3>
      <p class="inline-block text-[16px] font-medium leading-[32px] text-white">
        {{ currentHighlight().description }}
      </p>
    </div>
  </div>

  <div class="bottom-0 right-0 w-full p-8 lg:hidden">
    <h3 class="mb-4 text-2xl font-bold text-primary-700">
      {{ currentHighlight().title }}
    </h3>
    <p
      class="inline-block hyphens-auto text-[16px] font-medium leading-[32px] text-primary-500"
    >
      {{ currentHighlight().description }}
    </p>
  </div>
</div>
