<div class="flex-row items-stretch lg:flex">
  <!-- The top-level flex item for the left side of the component. -->
  <div
    class="flex flex-auto items-center justify-center bg-white p-[64px] lg:h-[660px] lg:w-1/3"
  >
    <!-- Container for both the map and the legends which scales with the map and provides a reference for the legends. -->
    <div class="relative">
      <div #mapContainer></div>
      @for (
        highlight of highlights().highlights;
        track highlight.title;
        let i = $index
      ) {
        <app-map-legend
          [label]="highlight.title"
          [left]="highlight.legendX"
          [top]="highlight.legendY"
          (click)="currentHighlightIdx.set(i)"
        ></app-map-legend>
      }
    </div>
  </div>
  <div
    class="relative flex-[2_2_auto] overflow-hidden bg-cover bg-no-repeat max-lg:min-h-[50vh] lg:w-2/3"
  >
    @if (this.currentHighlight().imgSrc) {
      <img
        class="absolute left-0 top-0 h-full w-full object-cover saturate-50"
        [src]="this.currentHighlight().imgSrc"
      />
    } @else if (this.currentHighlight().videoSrc) {
      <video
        class="absolute left-0 top-0 h-full w-full object-cover saturate-50"
        muted
        autoplay
        loop
        [src]="this.currentHighlight().videoSrc"
      ></video>
    }

    <div
      class="bg-whiteVertical lg:bg-whiteHorizontal absolute left-0 top-0 h-full w-full p-[64px]"
    >
      <h3 class="mb-[48px] text-[48px] font-bold text-primary-800">
        {{ currentHighlight().title }}
      </h3>
      <p
        class="inline-block max-w-[600px] text-[16px] font-medium leading-[32px] text-primary-600"
      >
        {{ currentHighlight().description }}
      </p>
    </div>
  </div>
</div>
