@import "../../../../../vars.scss";

.box {
  // this is overwritten in TS
  --background-url: none;

  background:
    linear-gradient(to left, $primary-100 21%, rgba(255, 255, 255, 0) 100%),
    var(--background-url) no-repeat;
}

.is-selected .box {
  background:
    linear-gradient(to left, $primary-500 21%, rgba(255, 255, 255, 0) 100%),
    var(--background-url) no-repeat;
}
