<div class="bg-white flex flex-col">
  <app-secondary-nav></app-secondary-nav>
  @if (flightA) {
    <app-hero [id]="flightA.title">
      <img
        appHeroLayer
        class="absolute w-full min-w-[1420px]"
        [startValue]="flightA.hero.background.startValue"
        [endValue]="flightA.hero.background.endValue"
        [property]="flightA.hero.background.property"
        [ngSrc]="flightA.hero.background.imgSrc"
        width="1"
        [height]="flightA.hero.background.aspectRatio"
        priority
      />
      <div
        appHeroLayer
        class="absolute w-full mix-blend-plus-lighter text-[128px] font-bold text-secondary-300 text-center"
        [startValue]="flightA.hero.text.startValue"
        [endValue]="flightA.hero.text.endValue"
        [property]="flightA.hero.text.property"
      >
        {{ flightA.title }}
      </div>
      <img
        appHeroLayer
        class="absolute w-full min-w-[1420px]"
        [startValue]="flightA.hero.foreground.startValue"
        [endValue]="flightA.hero.foreground.endValue"
        [property]="flightA.hero.foreground.property"
        [ngSrc]="flightA.hero.foreground.imgSrc"
        width="1"
        [height]="flightA.hero.foreground.aspectRatio"
      />
      <div
        appHeroLayer
        [startValue]="flightA.hero.duration.startValue"
        [endValue]="flightA.hero.duration.endValue"
        [property]="flightA.hero.duration.property"
        class="absolute w-full mix-blend-plus-lighter flex flex-row items-center gap-[2px] justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="size-6 stroke-2 pr-[8px] stroke-secondary-300"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        <span class="text-[20px] font-bold text-secondary-300">
          {{ flightA.duration }}
        </span>
        <span class="text-[20px] text-secondary-300">min</span>
      </div>
    </app-hero>
    <div class="flex flex-col items-center justify-center">
      <div
        class="text-[20px] leading-[40px] font-medium text-center text-gray-400 mt-[48px] w-3/4 max-w-[650px]"
      >
        {{ flightA.synopsis }}
      </div>

      <app-price-tag class="mt-[48px]" [price]="flightA.cost"></app-price-tag>

      <app-button
        class="mt-[16px] mb-[64px]"
        label="Buchen"
        link="/booking"
      ></app-button>
    </div>
    @if (flightA.highlights) {
      <app-highlights [highlights]="flightA.highlights"></app-highlights>
    }
  } @else if (flightB) {
    <app-hero [id]="flightB.title">
      <img
        appHeroLayer
        class="absolute w-full min-w-[1420px]"
        [startValue]="flightB.hero.background.startValue"
        [endValue]="flightB.hero.background.endValue"
        [property]="flightB.hero.background.property"
        [ngSrc]="flightB.hero.background.imgSrc"
        width="1"
        [height]="flightB.hero.background.aspectRatio"
        priority
      />
      <div
        appHeroLayer
        class="absolute w-full mix-blend-plus-lighter text-[128px] font-bold text-secondary-300 text-center"
        [startValue]="flightB.hero.text.startValue"
        [endValue]="flightB.hero.text.endValue"
        [property]="flightB.hero.text.property"
      >
        {{ flightB.title }}
      </div>
      <img
        appHeroLayer
        class="absolute w-full min-w-[1420px]"
        [startValue]="flightB.hero.foreground.startValue"
        [endValue]="flightB.hero.foreground.endValue"
        [property]="flightB.hero.foreground.property"
        [ngSrc]="flightB.hero.foreground.imgSrc"
        width="1"
        [height]="flightB.hero.foreground.aspectRatio"
      />
      <div
        appHeroLayer
        [startValue]="flightB.hero.duration.startValue"
        [endValue]="flightB.hero.duration.endValue"
        [property]="flightB.hero.duration.property"
        class="absolute w-full mix-blend-plus-lighter flex flex-row items-center gap-[2px] justify-center"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          class="size-6 stroke-2 pr-[8px] stroke-secondary-300"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
          />
        </svg>
        <span class="text-[20px] font-bold text-secondary-300">
          {{ flightB.duration }}
        </span>
        <span class="text-[20px] text-secondary-300">min</span>
      </div>
    </app-hero>
    <div class="flex flex-col items-center justify-center">
      <div
        class="text-[20px] leading-[40px] font-medium text-center text-gray-400 mt-[48px] w-3/4 max-w-[650px]"
      >
        {{ flightB.synopsis }}
      </div>

      <app-price-tag class="mt-[48px]" [price]="flightB.cost"></app-price-tag>

      <app-button
        class="mt-[16px] mb-[64px]"
        label="Buchen"
        link="/booking"
      ></app-button>
    </div>
    @if (flightB.highlights) {
      <app-highlights [highlights]="flightB.highlights"></app-highlights>
    }
  }
</div>
