<app-form-block
  [title]="'booking.contact-data.title' | translate"
  [infoText]="'booking.contact-data.info' | translate"
  [formGroup]="group()"
>
  <app-form-row>
    <app-form-group
      [label]="'booking.contact-data.first-name' | translate"
      formControlId="firstName"
      [control]="firstName"
    ></app-form-group>
    <app-form-group
      [label]="'booking.contact-data.last-name' | translate"
      formControlId="contact-data-lastname"
      [control]="lastName"
    ></app-form-group>
  </app-form-row>
  <app-form-row>
    <app-form-group
      [label]="'booking.contact-data.street' | translate"
      formControlId="contact-data-street"
      [control]="street"
    ></app-form-group>
    <app-form-group
      [label]="'booking.contact-data.city' | translate"
      formControlId="contact-data-city"
      [control]="city"
    ></app-form-group>
  </app-form-row>
  <app-form-row>
    <app-form-group
      [label]="'booking.contact-data.email' | translate"
      formControlId="contact-data-email"
      [control]="email"
      type="email"
    ></app-form-group>
    <app-form-group
      [label]="'booking.contact-data.phone' | translate"
      formControlId="contact-data-phone"
      [control]="phone"
    ></app-form-group>
  </app-form-row>
</app-form-block>
