<p class="my-12 text-[20px] font-medium leading-[30px] text-gray-400">
  {{ "booking.disclaimer.text" | translate }}
</p>

<!-- TODO: These need to be components -->
<div class="text-[20px] font-medium text-gray-400">
  <div class="my-4 flex flex-row items-center">
    <input
      id="acceptedTermsOfBookingInput"
      type="checkbox"
      [formControl]="acceptedTermsOfBookingRequestFormControl"
      class="mr-4 h-6 w-6 shrink-0 accent-primary-600"
    />
    <label for="acceptedTermsOfBookingInput">{{
      "booking.disclaimer.accept-terms" | translate
    }}</label>
  </div>

  <div class="my-4 flex flex-row items-center">
    <input
      id="acceptedPrivacyPolicyInput"
      type="checkbox"
      [formControl]="acceptedPrivacyPolicyFormControl"
      class="mr-4 h-6 w-6 shrink-0 accent-primary-600"
    />
    <label for="acceptedPrivacyPolicyInput"
      >{{ "booking.disclaimer.accept-privacy-before" | translate }}
      <a
        class="text-primary-600 underline"
        [routerLink]="['/', currentLang(), 'privacy-policy']"
        >{{ "booking.disclaimer.privacy-link" | translate }}</a
      >.</label
    >
  </div>
</div>
