<div>
  <app-hero-static
    [title]="'start.hero-title' | translate"
    [duration]="0"
    imgSrc="/start/hero.jpg"
    overrideTextColor="white"
  ></app-hero-static>

  <app-offerings [contactEmail]="config.contactEmail"></app-offerings>

  <app-reviews>
    @for (review of reviews; track $index) {
      <app-review
        class="snap-center snap-always"
        [title]="review.title"
        [imgSrc]="review.imgSrc"
        [name]="review.name"
      >
        {{ review.text }}
      </app-review>
    }
  </app-reviews>

  <app-portrait></app-portrait>
</div>
