@import "../../../../vars.scss";

.flight-selector {
  background-color: $gray-100;
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15) inset;

  display: flex;
  flex-direction: row;
  gap: 24px;
  padding: 32px;

  overflow-x: scroll;
}
