<div class="bg-gray-50">
  <div class="mx-auto max-w-[1000px] bg-gray-50 px-6 py-[64px]">
    <h3 class="mb-[64px] text-[32px] font-bold text-gray-500">
      {{ "booking.heading" | translate }}
    </h3>
    <app-flight-selector
      class="mb-[64px] block"
      [formControl]="flightFormControl"
    >
      @for (flight of flights; track $index) {
        <app-flight-selector-item
          [flight]="flight"
          class="first:ml-[149px] last:mr-[149px] sm:first:ml-[249px] sm:last:mr-[249px]"
          [attr.data-flight-id]="flight?.id"
        ></app-flight-selector-item>
      }
    </app-flight-selector>
    <app-flight-data
      class="mb-[64px] block"
      [group]="this.flightDataFormGroup"
    ></app-flight-data>
    <app-contact-data
      class="mb-[64px] block"
      [group]="this.contactDataFormGroup"
    ></app-contact-data>
    <app-flight-summary [total]="totalFlightCost | async"></app-flight-summary>
    <app-flight-disclaimer
      [group]="termsAndConditionsFormGroup"
    ></app-flight-disclaimer>
    @let currentErrorEmailLink = errorEmailLink();
    @if (currentErrorEmailLink) {
      <app-form-error
        [contactEmail]="config.contactEmail"
        [contactPhone]="config.contactPhone"
        [errorEmailLink]="currentErrorEmailLink"
      ></app-form-error>
    }
    <app-button
      appButtonLarge
      class="mt-12 block"
      [label]="'booking.submit-button' | translate"
      [enabled]="bookingFormGroup.valid && !this.loading()"
      (clicked)="submit()"
    ></app-button>
  </div>
</div>
