<app-form-page heading="booking-request.heading">
  <app-flight-selector
    class="mb-[64px] block"
    [formControl]="flightFormControl"
  >
    @for (flight of flights; track $index) {
      <app-flight-selector-item [flight]="flight" />
    }
  </app-flight-selector>
  <app-booking-request-flight-data
    class="mb-[64px] block"
    [group]="this.flightDataFormGroup"
  />
  <app-booking-request-contact-data
    class="mb-[64px] block"
    [group]="contactDataFormGroup"
  />
  <app-booking-request-summary [total]="totalFlightCost | async" />
  <app-booking-request-disclaimer [group]="termsAndConditionsFormGroup" />
  @let currentErrorEmailLink = errorEmailLink();
  @if (currentErrorEmailLink) {
    <app-form-error>
      {{ "booking-request.error.text1" | translate }}
      <a class="underline" [href]="errorEmailLink()">{{
        config.contactEmail
      }}</a
      >{{ "booking-request.error.text2" | translate }}
      <a class="underline" [href]="config.contactPhone | phoneLink">{{
        config.contactPhone
      }}</a
      >.
    </app-form-error>
  }
  <app-button
    appButtonLarge
    class="mt-12 block"
    [label]="'booking-request.submit-button' | translate"
    [enabled]="bookingFormGroup.valid && !this.loading()"
    (clicked)="submit()"
  />
</app-form-page>
