<div
  class="mb-8 flex flex-col items-stretch gap-y-24 px-8 py-16 sm:items-center sm:gap-y-32 sm:py-32"
>
  <app-offering
    [title]="'start.offerings.location.title' | translate"
    imgSrc="/start/base_simple.svg"
  >
    {{ "start.offerings.location.text" | translate }}
  </app-offering>

  <app-offering
    [title]="'start.offerings.book.title' | translate"
    imgSrc="/start/book_or_gift.svg"
  >
    {{ "start.offerings.book.text1" | translate }}
    <a
      class="text-primary-600 underline"
      [routerLink]="['/', currentLang(), 'booking']"
      >{{ "start.offerings.book.booking-link" | translate }}</a
    >
    {{ "start.offerings.book.text2" | translate }}
    <a class="text-primary-600 underline" [href]="contactEmail() | emailLink">{{
      contactEmail()
    }}</a
    >.
  </app-offering>

  <app-offering
    [title]="'start.offerings.tours.title' | translate"
    imgSrc="/start/r44.svg"
  >
    {{
      "start.offerings.tours.text"
        | translate
          : { shortest: shortestFlightDuration, longest: longestFlightDuration }
    }}
  </app-offering>

  <app-offering
    [title]="'start.offerings.pricing.title' | translate"
    imgSrc="/start/pricing.svg"
  >
    {{
      "start.offerings.pricing.text"
        | translate: { cheapest: cheapestFlightCost }
    }}
  </app-offering>
</div>
