@let flightSnapshot = flight();
<app-hero-static
  [title]="flightSnapshot.title"
  [duration]="flightSnapshot.duration"
  [imgSrc]="heroImgSrc()"
  [overrideTextColor]="flightSnapshot.textColor"
></app-hero-static>
<div class="flex flex-col items-center justify-center">
  <img class="mt-12 w-[80%] max-w-[500px]" [src]="routeImgSrc()" />

  <div
    class="mt-[48px] max-w-[650px] hyphens-auto text-center text-[20px] font-medium leading-[40px] text-gray-400 max-sm:p-6 sm:w-3/4"
  >
    {{ flightSnapshot.synopsis }}
  </div>

  <app-price-tag
    class="mt-[48px]"
    [price]="flightSnapshot.cost"
  ></app-price-tag>

  <app-button
    class="mb-[64px] mt-[16px]"
    label="Buchen"
    link="/booking"
    [queryParams]="{ flight: flightSnapshot.id }"
  ></app-button>
</div>
